#header_wrapper.wrapper

  #header

    %div
      = link_to_function image_tag("logo_for_header.png", :alt => "Kioskfolio Logo"), "$('body').animate({scrollTop: 0});", :style => "border: 0;"
  
#content_wrapper.wrapper

  .container
  
    %div#tagline
      %h1 Helping you easily sell and market your Wordpress templates.
    
    #accordion
    
      .problem
      
        .element= image_tag "forest_hello.png", :alt => "Image reflecting a forest with a lost cry for help."
        %h2= link_to "You are on a marketplace with 1000s of sellers but you also want to build your own brand and reputation.", "#", :id => "problem_brand"
        
      .problem.last
      
        .element= image_tag "adwords_conversion.png", :alt => "Image showing an Adwords ad pointing no conversion to selling a theme."
        %h2= link_to "You don't know how to get more people to buy your themes or what ads and promotion works best.", "#", :id => "problem_adwords"
    
    %p#to_product.center
      We are building something for you. 
      = link_to "The Product &raquo;".html_safe, "#the_product", :class => "button", :id => "learn_product"
      

  #product.container
    
    %h2 The Product
    
    .benefits
    
      .benefit
        %h3 Host your templates, create your portfolio
        
        = image_tag "product_info/theme_account.png"
        
        %p
          After you create your account, you can add and upload the templates you want to sell.
        
        %p 
          Kioskfolio will 
          %strong host all the files 
          and make sure that customer's who bought your template 
          %strong can always access them.
        
      .benefit
        %h3 Easily integrate selling and get payed without waiting
        
        = image_tag "product_info/scripts.png"
        
        %p
          No-fuzz tools allow you to
          %strong easily integrate the selling process into
          your website or anywhere you'd like. No deep programming knowledge
          required.
        
        %p
          We take care of authorizing your customer and make sure you
          %strong get payed directly when
          a customer buys your template. 
        
        %p{:style => "text-align: center;"}
          %strong No waiting or virtual credits.
          
      .benefit
        %h3 We make your templates go viral and increase exposure
        
        = image_tag "product_info/buyer_share.png"
        
        %p 
          By 
          %strong providing rewards and discounts
          the buyer won't think twice to spread
          a sale.
    
        %p
          Get informative statistics and tips
          %strong to increase the conversion of your templates.
  
      %p{:style => "text-align: center; border-top: 2px dotted #ddd; margin: 0; padding: 20px 0"} 
        We will need your email to keep you informed and create your account.
      :erb
        <!-- Begin MailChimp Signup Form -->
        <script type="text/javascript">
        // delete this script tag and use a "div.mce_inline_error{ XXX !important}" selector
        // or fill this in and it will be inlined when errors are generated
        var mc_custom_error_style = '';
        </script>
        <div id="mc_embed_signup">
        <form action="http://kioskfolio.us1.list-manage.com/subscribe/post?u=e66b89a31cc7055c3819e8200&amp;id=c996ef1569" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        	<fieldset>
        
        <!--
        <div class="mc-field-group">
        <label for="mce-NAME">Your Name </label>
        <input type="text" value="" name="NAME" class="" id="mce-NAME">
        </div> -->
        <div class="mc-field-group">
        <label for="mce-EMAIL">Your Email </label>
        <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-submit-group"><input type="submit" value="Get Started &raquo;" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </fieldset>	
        </form>
        </div>

        <!--End mc_embed_signup-->
      =# link_to "Leave my email &raquo;".html_safe, "http://eepurl.com/dVZjX", :class => "button", :id => "leave_my_email", :style => "margin-left: 20px;"