#header_wrapper.wrapper

  #header

    %div
      = image_tag "logo_for_header.png"
  
#content_wrapper.wrapper

  .container
  
    %div#tagline
      %h1 Helping you sell and market your Wordpress templates.
    
    #accordion
      .element= image_tag "you.png", :alt => "Template designer / developer / creator that is surfing."
      %h2.active You: You are an awesome template creator and you may or may not look like the person in this picture.
      
      .element= image_tag "forest_hello.png", :alt => "Image reflecting a forest with a lost cry for help."
      %h2 Problem: The online marketplace you're on doesn't let you promote your personal brand enough.
      
      .element= image_tag "adwords_conversion.png", :alt => "Image showing an Adwords ad pointing no conversion to selling a theme."
      %h2 Problem: People aren't clicking on your ads and it's hard to figure out why.
    
    #beta_signup
      %h2 
        We are building something for you. Join our beta.
      
      %p 
        We are building a product that let's you 
        %em market 
        and sell your Wordpress templates.
      
      %p Help us, help you and join our beta.
        
      %p.cta
        = link_to "Join our beta &raquo;".html_safe, "http://eepurl.com/dVZjX", :class => "large button", :id => "signup_button"